body{
    
    
}
h1{
    text-align: center;
    color: #ffe;
}
.submitForm{
    
    width: 400px;
    max-width: 90vw;

}
.optionForm h2{
    
    width: 100%;
    color: lightcoral;
    text-align: center;
}
.submitForm{
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px crimson;
}
.submitForm button{
    background-color: rgb(125, 21, 44);

}
h2{
    /* margin: auto; */
    /* width: fit-content; */
    align-items: center;
}
input{
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}
.optionForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

thead th, td{
    padding: 10px;
}
table{
    border-radius: 10px;
    text-align: center;
}
.totals{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: #ffe;
}
 #openTotal{
    color: rgb(41, 241, 41);
 }
    #closeTotal{
        color: rgb(233, 63, 63);
    }
    #highTotal{
        color: rgb(41, 191, 241);
    }
    #lowTotal{
        color: rgb(223, 164, 45);
    }
body{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: fit-content;
    margin: auto;
}
.dateFilter input{
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;
}
.dateFilter{
    margin-bottom: 5%;
}

.pagination{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.searchResultsContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #ffe;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px crimson;
    z-index: 100;   

}

.closeButton
{
    position: absolute;
    top: 2px;
    right: 2px;
    color: #ffe;
    background-color: crimson;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}